<?xml version="1.0" ?>
<robot name="x_marker">
  <link name="x_marker">
    <inertial>
      <!-- STL 기준 질량중심 (단위: m) -->
      <origin xyz="0.0 0.0 0.0192291" rpy="0 0 0"/>
      <!-- 작은 O 말: 약 15 g -->
      <mass value="0.015"/>
      <!-- STL 형상 기반 관성 모멘트 (kg·m^2), COM 기준 -->
      <inertia
        ixx="5.57039e-06"
        iyy="5.57039e-06"
        izz="1.40162e-06"
        ixy="0.0"
        iyz="0.0"
        ixz="0.0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://kat_description/meshes/board/x_marker.stl"/>
      </geometry>
      <material name="silver">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://kat_description/meshes/board/x_marker.stl"/>
      </geometry>
    </collision>
  </link>

  <gazebo>
    <plugin name="control" filename="libgazebo_ros_control.so"/>
  </gazebo>
</robot>
